<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="shortcut icon" href=" {{ url_for('static', filename='img/tweet.ico') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resultado.css') }}">
</head>
<body>

    <header>
        <a href="/" class="logo">
            ⏲Proyecto2.
        </a>
        <form action="{{ url_for('searchFile') }}">
            <img src="{{ url_for('static', filename='img/search.png') }}" alt="_buscar">
            <input type="text" name="query" placeholder="{{consulta}}" id="buscador">
            <input type="submit" value="Buscar" id="btn">
        </form>
        <p class="description">
            Base de Datos II
        </p>
    </header>

    <main>
        <section class="resultados">

            <div class="titulos">
                <p class="number">NUMERO</p>
                <p class="nombre">TWEET ID</p>
                <p class="puntaje">SCORE</p>
                <p STYLE="width: 170px; text-align: right" class="nombre">DETALLE</p>
            </div>

            {% set number = namespace(value=1)%}
            {% for tweet in tweets %}
            <div class="resultado">
                <p class="numero">
                    {{number.value}}
                </p>
                <div class="image">
                    <img src="{{ url_for('static', filename='img/tweet.png') }}" alt="_Result">
                </div>
                <p class="file_name">
                    {{tweet}}
                </p>
                <p class="score">{{tweets[tweet]}}</p>
                <a class="go" href="/search/{{consulta}}/{{tweet}}">
                    Ver tweet +
                </a>
            </div>
            {% set number.value = number.value + 1 %}
            {% endfor %}

        </section>
    </main>

    <footer>
        <div class="year">
            <p>© <script>document.write(new Date().getFullYear())</script>
                Proyecto. Todos los derechos reservados</p>
        </div>
        <div class="names">
            <p>Angel</p>
            <p>Piero</p>
            <p>Jeanlee</p>
        </div>
    </footer>

</body>
</html>