<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Buscador</title>
    <link rel="shortcut icon" href=" {{url_for('static', filename='img/tweet.ico')}} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <header>
        <a href="/" class="logo">
            ⏲Proyecto2.
        </a>
        <p class="description">
            Base de Datos II
        </p>
    </header>
    <main>
        <div class="central">
            <div class="image">
                <img src="{{ url_for('static', filename='img/tweet.png') }}" alt="Logo">
            </div>
            <form action="{{ url_for('searchFile') }}">
                <img src="{{ url_for('static', filename='img/search.png') }}" alt="buscar">
                <input type="text" name="query" placeholder="Consulta" id="buscador">
                <input type="submit" value="Buscar" id="btn">
            </form>
        </div>
    </main>
    <footer>
        <div class="year">
            <p>© <script>document.write(new Date().getFullYear())</script>
                Proyecto. Todos los derechos reservados</p>
        </div>
        <div class="names">
            <p>Angel</p>
            <p>Piero</p>
            <p>Jeanlee</p>
        </div>
    </footer>

</body>
</html>